body {
}
main {
	background-color: #fff;
	margin: 0 10px;
}
main h2, main h3, main h4 {
	font-family:"Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}
main ul, main ol {
	padding-top: 1em;
	padding-left: 3em;
}
main ul ul {
	padding-top 0;
	margin-top: 0;
}
.content-head {
	text-align: center;
	margin-top: 0;
	padding-top: 1em;
}

.main-content-nav {
	border-radius: 6px;
	padding: 1em;
	margin: 1.5em;
	border: 1px solid #cecfd5;
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
}
.main-content-nav h4 {
	padding-top: .5em;
	color: rgb(45, 179, 74);
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: .6em;

}
.main-content-nav h6 {
	padding-left: 5px;
	
}
.main-content-nav ul {
	margin-top: 1em;
	padding-top: 0;
	font-size: .8em;
	list-style: circle;
}
.main-content-nav ul a {
	text-decoration: none;
	color: #0087cc;

}
.main-content-share {
	list-style: none;
	color: #cdcfd5;
	padding-left: 1.2em;
}
.main-content-share .fa-2x {
	font-size: 1.5em;
}
.main-content-share li {
	display: inline-block;
	padding-left: .6em;
}
.main-content-share span:hover {
	color: rgb(45, 179,74);
	
}
 blockquote {
	border:1px solid silver ;
	border-left: 3px solid green;
	padding: .5em;
	padding-left: 1em;
	font-style: italic;
	font-size: 85%;
	margin-left: 1.5em;
}
blockquote footer {
	font-family: 'blackjackregular', sans-serif;;
	font-weight: bolder;
}
dl {
	margin-top: 1em;
	margin-bottom: 1em;
}
dl dt:after {
	content: ":";
}
pre {
	color: green;
}
h2 {
	text-decoration: none;
	padding: 0;
}
h2 .anchor, h3 .anchor {
	color: #000;
}
h2 .anchor:hover, h3 .anchor:hover {
	text-decoration: none;
}
h2 span, h3 span {
	visibility: hidden;
}
h2 .fa, h3 .fa {
	font-weight: lighter;
	font-size: medium;
	width: 14px;
	padding-left: 8px;
	vertical-align: middle;
}
h2:hover span, h3:hover span {
	visibility: visible;

}
h4 {
	font-size: .8em;
	font-weight: lighter;
	margin-top: 1em;
}
.main-content-img {
	background: url(http://tabgre.com/img/css-selectors.png) no-repeat center;
	background-size: 100%;
	height: 300px;
}
 .img-inner {
	background-image: none;
	text-align: center;
	margin-top: 1.5em;
}
.media {
	text-align: center;
}
.media video {
	width: 100% !important;
	height: auto !important;
}
.img-caniuse img {
	width: 100%;
	height: auto;
}
.codepen-eg {
	margin-top: 1em;
	max-width: 400px;
}
table, h2, h3, ul, ol {
	margin-top: 1.5em;         /*add top margin*/
}
.table th, .table td {
	text-align: center;
}
#flexbox {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
#flexbox .flexbox-half {
	display: flex;
	border: 1px solid #ff80ab;
	padding: 5px;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
#flexbox .flexbox-half div {
	background: linear-gradient(#c0ffff, white);
}
#flexbox .flex-parent {
	justify-content: space-between;
}
#flexbox .flex-child {
	
	/*flexbox's flex-child*/
} 
#reference {
	list-style: circle;
}

pre {
	overflow: auto;
	background-color: black;
	padding: 0;
	padding-top: 33px;
	color: white;
	position: relative;
}
.css-eg {
	padding-top: 20px;
}
pre[class*="language-"] {
	padding-top: 40px;
	border: 1px solid silver;
	border-top: none;
	box-shadow: none;
	border-radius: 0;
}
pre[class*="language-"]:before {
	content: attr(rel);
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #358CCB;
	padding: 5px 0;
	text-indent: 15px;
	transform: none;
	z-index: 2;
	box-shadow: none;
	height: 35px;
}
pre code {
	padding: 25px 1px;
	margin-left: 10px;
	border-left: 1px solid red;
}
/*代码快格式化输出,有点问题下端代码两端比代码名称头多了1px的border*/

/*media query @ screen min widht 1080px*/
@media screen and (min-width: 1080px){
body {
	background: url(../img/main-content-bg.png);
}
main {
	max-width:  1080px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	padding: 4em;
	border: 1px solid silver;
	position: relative;
}
.main-content {
	border: 1px solid silver;
	box-shadow: none;
	background-color: white;
}
.main-content-img {
	background-size: 60%;
	height: 400px;
}
.codepen-eg {
	max-width: 100%;
}
.main-content-nav {
	background-color: white;
	position: fixed;
	top: 280px;
	right: 10px;
}

#flexbox {
	flex-direction: row;
	width: 48%;
}
#flexbox .flex-parent {
	margin-right: 20px;
}

.css-eg {
	color: #cd6a51;
}


}
